/*
//  global.qss
//  main
//
//  Created by Daniel Cho on 2/20/26.
*/

/* ─── Global ─────────────────────────────────────────── */
QWidget {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
}

/* ─── Main Window ─────────────────────────────────────── */
QMainWindow {
    background-color: #1e1e1e;
}
